*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: aliceblue;
    color: rgb(55, 55, 55);
    font-family: "Lato", "Arial";
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto; /*center container inside a container*/
}

header {
    height: 100vh; /* expand img height*/
    background-size: cover; /* shows the entire backgoroung img*/
    background-position: center; /* centers img*/
    background-image: url(img/main_3_abstract.jpeg);
}


.main-text-box {
    position: absolute;         /* container with background image & main title*/
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    margin: 0;
}

