*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: aliceblue;
    color: rgb(55, 55, 55);
    font-family: "Lato", "Arial";
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto; /*center container inside a container*/
    margin: 0 auto;
}

header {
    background-image: url(img/hero_2_IA.jpeg);
    height: 100vh;
}